# UNROM (mapper 2): 128 KB de PRG em 8 bancos de 16 KB, e CHR-RAM de 8 KB.
#
# O banco 7 fica fixo em $C000 e guarda todo o codigo. Os outros entram e
# saem em $8000 conforme a tela que esta sendo montada. Como nao ha CHR-ROM,
# os graficos vao pra RAM de video em tempo de execucao.
MEMORY {
    ZP:      start = $0000, size = $0100, type = rw, file = "";
    OAMRAM:  start = $0200, size = $0100, type = rw, file = "";
    RAM:     start = $0300, size = $0500, type = rw, file = "";

    HEADER:  start = $0000, size = $0010, type = ro, file = %O, fill = yes;

    PRG0:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG1:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG2:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG3:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG4:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG5:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
    PRG6:    start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;

    # banco fixo: codigo, musica e vetores
    PRGF:    start = $C000, size = $3FFA, type = ro, file = %O, fill = yes, fillval = $FF;
    VECTORS: start = $FFFA, size = $0006, type = ro, file = %O, fill = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP,      type = zp;
    OAM:      load = OAMRAM,  type = bss, align = $100;
    BSS:      load = RAM,     type = bss;
    HEADER:   load = HEADER,  type = ro;

    BANK0:    load = PRG0,    type = ro, optional = yes;
    BANK1:    load = PRG1,    type = ro, optional = yes;
    BANK2:    load = PRG2,    type = ro, optional = yes;
    BANK3:    load = PRG3,    type = ro, optional = yes;
    BANK4:    load = PRG4,    type = ro, optional = yes;
    BANK5:    load = PRG5,    type = ro, optional = yes;
    BANK6:    load = PRG6,    type = ro, optional = yes;

    CODE:     load = PRGF,    type = ro;
    RODATA:   load = PRGF,    type = ro;
    VECTORS:  load = VECTORS, type = ro;
}
